@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Light.woff2") format("woff2"), url("../../fonts/Gilroy-Light.woff") format("woff"), url("../../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../../fonts/Gilroy-Extrabold.woff") format("woff"), url("../../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --container-horizontal-padding: 60px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
}
body.overflow {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-horizontal-padding);
  max-width: 1160px;
}

.h60-c30 {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.h60-c30:hover {
  opacity: 0.6;
}
.h60-c30:active {
  opacity: 0.3;
}

.button-w-line {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
  padding: 0 43px;
  background: 0;
  border: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.button-w-line::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: -1;
  height: 8px;
  width: 100%;
  background-color: #f0c52e;
  -webkit-transition-property: height, background-color, width;
  transition-property: height, background-color, width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s, 0s, 0.2s;
          transition-delay: 0s, 0s, 0.2s;
}
.button-w-line:hover:before {
  height: 40px;
}
.button-w-line:active {
  color: rgba(0, 0, 0, 0.3);
}
.button-w-line:active:before {
  height: 40px;
}

.header {
  margin-top: 40px;
}
.header-inner {
  background: #F7E296;
  padding: 44px 60px 50px;
  position: relative;
}
.header-logo {
  margin-top: -64px;
  margin-bottom: 29px;
  position: relative;
  z-index: 100;
}
.header-burger {
  background: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
  position: absolute;
  top: 5px;
  right: 60px;
}
.header-burger span {
  width: 24px;
  height: 2px;
  display: block;
  background-color: #000000;
  -webkit-transition-property: opacity, width, -webkit-transform;
  transition-property: opacity, width, -webkit-transform;
  transition-property: transform, opacity, width;
  transition-property: transform, opacity, width, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.header-burger span:nth-child(2) {
  margin: 4px 0;
}
.header-burger.active span {
  width: 17px;
}
.header-burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-burger.active span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
}
.header-burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header-burger.active + .header-content {
  display: block;
}
.header-top {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.header-top__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-top__form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)) right bottom/0px 2px no-repeat, url("../../img/icons/search.svg") left center no-repeat;
  background: linear-gradient(to bottom, #000000 0%, #000000 100%) right bottom/0px 2px no-repeat, url("../../img/icons/search.svg") left center no-repeat;
  border: 0;
  padding: 16px 18px 14px 38px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.header-top__form input::-webkit-input-placeholder {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0.3;
}
.header-top__form input::-moz-placeholder {
  -moz-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  opacity: 0.3;
}
.header-top__form input:-ms-input-placeholder {
  -ms-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  opacity: 0.3;
}
.header-top__form input::-ms-input-placeholder {
  -ms-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  opacity: 0.3;
}
.header-top__form input::placeholder {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0.3;
}
.header-top__form input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}
.header-top__form input:hover::-moz-placeholder {
  opacity: 0.6;
}
.header-top__form input:hover:-ms-input-placeholder {
  opacity: 0.6;
}
.header-top__form input:hover::-ms-input-placeholder {
  opacity: 0.6;
}
.header-top__form input:hover::placeholder {
  opacity: 0.6;
}
.header-top__form input:focus {
  background-size: 100% 2px, auto;
}
.header-top__form input:focus + button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.header-top__form input:not(:-moz-placeholder-shown) {
  background-size: 100% 2px, auto;
}
.header-top__form input:not(:-ms-input-placeholder) {
  background-size: 100% 2px, auto;
}
.header-top__form input:not(:placeholder-shown) {
  background-size: 100% 2px, auto;
}
.header-top__form input:not(:-moz-placeholder-shown) + button {
  opacity: 1;
  visibility: visible;
  transform: rotate(0);
}
.header-top__form input:not(:-ms-input-placeholder) + button {
  opacity: 1;
  visibility: visible;
  transform: rotate(0);
}
.header-top__form input:not(:placeholder-shown) + button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.header-top__form button {
  cursor: pointer;
  outline: none;
  padding: 15px 17px;
  border: 2px solid #000000;
  background: 0;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-property: background-color, color, opacity, visibility, -webkit-transform;
  transition-property: background-color, color, opacity, visibility, -webkit-transform;
  transition-property: transform, background-color, color, opacity, visibility;
  transition-property: transform, background-color, color, opacity, visibility, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header-top__form button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.header-top__form button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 500px;
}
.header-top__list a {
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.header-top__list a:not(:last-child) {
  margin-right: 40px;
}
.header-top__list a:first-child {
  margin-right: auto;
}
.header-top__list a svg {
  vertical-align: middle;
  margin-right: 11px;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.header-bottom__catalog {
  margin-right: auto;
}
.header-bottom__catalog button {
  background: 0;
  border: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-bottom__catalog button:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-bottom__catalog button:active {
  color: rgba(0, 0, 0, 0.3);
}
.header-bottom__catalog button.active + ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header-bottom__catalog button.active svg {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.header-bottom__catalog button svg {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  margin-left: 16px;
  pointer-events: none;
}
.header-bottom__catalog ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #F7E296;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 64px var(--container-horizontal-padding) 39px;
  left: calc(-1 * var(--container-horizontal-padding));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  z-index: -1;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header-bottom__catalog ul a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
}
.header-bottom__nav {
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-bottom__nav a {
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}
.header-bottom__nav a:not(:first-child) {
  margin-left: 38px;
}
.header-bottom__nav a:last-child {
  margin-left: auto;
}
.header-line {
  margin: 69px 400px 38px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-line::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 7px;
  background-color: #FFFFFF;
}

.popular {
  margin-top: -47px;
  counter-reset: slide;
}
.popular-inner {
  overflow: visible;
}
.popular-swiper {
  overflow: visible;
}
.popular-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  overflow: visible !important;
}
.popular-item:before {
  counter-increment: slide;
  content: "0" counter(slide);
  font-size: 179px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 219px;
  text-transform: uppercase;
  position: absolute;
  top: -110px;
  right: 100px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility, right;
  transition-property: opacity, visibility, right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.popular-item-active:before {
  right: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility, right;
  transition-property: opacity, visibility, right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.popular-item-active {
  opacity: 1;
  visibility: visible;
}
.popular-item-active .popular-item__title strong {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.popular-item-active .popular-item__img img {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}
.popular-item-active .popular-item__description p {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.popular-item-active .popular-item__btns {
  opacity: 1;
  visibility: visible;
}
.popular-item-active .popular-item__list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, transform, visibility;
  transition-property: opacity, transform, visibility, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.popular-item__img {
  width: 45%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}
.popular-item__img img {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-100%, -20%);
          transform: translate(-100%, -20%);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.popular-item__info {
  max-width: 500px;
  width: 50%;
}
.popular-item__title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  max-width: 495px;
  overflow: hidden;
  max-height: 116px;
}
.popular-item__title strong {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: inline-block;
}
.popular-item__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 30px 0 60px;
  max-width: 472px;
  overflow: hidden;
  max-height: 40px;
}
.popular-item__description p {
  margin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.popular-item__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
}
.popular-item__pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto !important;
}
.popular-item__pagination .swiper-pagination-bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  background: 0;
  opacity: 1;
  margin: 0 !important;
}
.popular-item__pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 18px !important;
}
.popular-item__pagination .swiper-pagination-bullet:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}
.popular-item__pagination .swiper-pagination-bullet-active:before {
  opacity: 1;
}
.popular-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 60px 0 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.popular-item__list li {
  font-family: "Gilroy", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 15px;
}
.popular-item__list span {
  font-size: 36px;
  display: block;
  margin-bottom: 15px;
  line-height: 42px;
}

.categories {
  margin-top: 116px;
}
.categories-inner {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.categories-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  max-width: 200px;
  text-decoration: none;
}
.categories-item__img {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
  background-color: #F7E296;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.categories-item__img img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.categories-item__title {
  color: #000000;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  letter-spacing: 0.05em;
  line-height: 22px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.categories-item:hover .categories-item__img {
  background-color: #f0c52e;
}
.categories-item:active .categories-item__img {
  background-color: #f0c52e;
}
.categories-item:active .categories-item__img img {
  opacity: 0.3;
}
.categories-item:active .categories-item__title {
  opacity: 0.3;
}

.services {
  margin-top: 184px;
  padding-bottom: 68px;
  background-color: #e5e5e5;
}
.services .container {
  padding: 0;
}
.services-inner {
  margin-top: -100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  position: relative;
  z-index: 2;
  width: 100%;
}
.services-buttons {
  border-right: 7px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  --padding-right: 117px;
  padding: 89px var(--padding-right) 86px 0;
}
.services-buttons__item {
  background: 0;
  border: 0;
  outline: 0;
  padding: 0 24px;
  margin: 0;
}
.services-buttons__item.active {
  color: #F7E296;
}
.services-buttons__item.active:before {
  background-color: #000000;
  height: 40px;
  width: calc(100% + var(--padding-right) + 1px);
}
.services-buttons__item + .services-buttons__item {
  margin-top: 40px;
}
.services-tabs {
  padding-top: 60px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.services-tab {
  padding-left: 116px;
  width: 100%;
  position: absolute;
}
.services-tab__content {
  max-width: 540px;
}
.services-tab__title {
  margin: 0 0 40px;
  overflow: hidden;
}
.services-tab__title h2 {
  line-height: 58px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 47px;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  text-transform: capitalize;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.services-tab__description {
  overflow: hidden;
}
.services-tab__description p {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.08em;
  margin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.services-tab__img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -23px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.services-tab.active .services-tab__title h2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.services-tab.active .services-tab__description p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.services-tab.active .services-tab__img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.companies {
  margin: 90px 0 4px;
}
.companies-inner {
  padding: 0;
}
.companies-slider__item {
  width: auto;
  -webkit-filter: saturate(2) grayscale(1);
          filter: saturate(2) grayscale(1);
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.companies-slider__item--active {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.companies-slider__item:hover {
  -webkit-filter: saturate(2);
          filter: saturate(2);
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.block-line {
  width: 80px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 50px;
}

.block-title {
  margin: 0 0 50px;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", sans-serif;
}

.block-description {
  margin: 0 0 40px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.block-button {
  margin-top: auto;
}

.ac {
  padding: 86px 0;
}
.ac-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  gap: 20px;
}

.about {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 440px;
          flex: 1 0 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-list {
  padding: 0 0 0 33px;
  margin: 20px 0 84px;
  list-style: none;
}
.about-list__item {
  position: relative;
  font-size: 16px;
  font-weight: 800;
  font-family: "Gilroy", sans-serif;
  line-height: 28px;
}
.about-list__item + .about-list__item {
  margin-top: 20px;
}
.about-list__item:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid #e5e5e5;
  position: absolute;
  top: 50%;
  left: -33px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
}

.contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 440px;
          flex: 1 0 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts-map {
  width: 100%;
  height: 222px;
  margin-bottom: 85px;
}

.footer {
  background-color: #363636;
  color: #FFFFFF;
}
.footer-inner {
  padding: 44px 0 64px;
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-top__logo {
  margin-top: 18px;
}
.footer-top__list a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.footer-top__list a + a {
  margin-left: 40px;
}
.footer-top__list a svg {
  vertical-align: middle;
  margin-right: 11px;
}
.footer-middle {
  margin: 40px 0 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-middle address {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 28px;
  font-style: normal;
}
.footer-middle__nav a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.footer-middle__nav a + a {
  margin-left: 38px;
}
.footer-middle__phone {
  font-weight: 300;
  line-height: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.footer-middle__phone a {
  color: inherit;
  text-decoration: none;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom__line {
  background-color: #f0c52e;
}
.footer-bottom__links a {
  display: inline-block;
  font-size: 0;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.footer-bottom__links a:hover {
  opacity: 1;
}
.footer-bottom__links a:active {
  opacity: 0.1;
}
.footer-bottom__links a + a {
  margin-left: 20px;
}
.footer-bottom__logo {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.footer-bottom__logo:hover {
  opacity: 0.6;
}
.footer-bottom__logo:active {
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .header-burger {
    display: inline-block;
    z-index: 100;
  }
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 40px);
    overflow: auto;
    background-color: #F7E296;
    z-index: 99;
    display: none;
    padding: 40px 60px;
  }
  .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-top__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 300px;
            flex: 1 0 300px;
  }
  .header-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .header-bottom__catalog {
    margin-top: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-bottom__catalog:before {
    content: "Каталог товаров";
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 18px;
  }
  .header-bottom__catalog button {
    display: none;
  }
  .header-bottom__catalog ul {
    position: static;
    padding: 20px 0 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header-bottom__nav {
    max-width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header-bottom__nav a {
    margin: 0 !important;
  }
}
@media (max-width: 820px) {
  .popular-item__img img {
    -webkit-transform: translate(-100%, -20%);
            transform: translate(-100%, -20%);
  }
  .popular-item-active .popular-item__img img {
    -webkit-transform: translate(-10%, 0) scale(0.8);
            transform: translate(-10%, 0) scale(0.8);
  }
  .popular-item__info {
    zoom: 0.95;
  }
}
@media (max-width: 768px) {
  .header-bottom__catalog ul {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .popular-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  .popular-item:before {
    right: calc(-1 * var(--container-horizontal-padding));
  }
  .popular-item__img {
    width: 100%;
    max-width: 100%;
  }
  .popular-item__info {
    margin-top: 70px;
    max-width: 100%;
    width: 100%;
  }
  .popular-item__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popular-item__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 150px;
            flex: 1 0 150px;
  }

  :root {
    --container-horizontal-padding: 20px;
  }

  .button-w-line {
    padding: 0 30px;
  }
}
@media (max-width: 520px) {
  .header-content {
    padding: 40px var(--container-horizontal-padding);
  }

  .header-top__form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    zoom: 0.8;
    max-width: 100%;
  }
  .header-top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header-top__list a {
    margin: 0 !important;
  }

  .header-bottom__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-bottom__catalog {
    margin-top: 20px;
  }
  .header-bottom__catalog ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .popular-item__img img {
    -webkit-transform: translate(-100%, 0%) scale(0.6);
            transform: translate(-100%, 0%) scale(0.6);
  }
  .popular-item-active .popular-item__img img {
    -webkit-transform: translate(0%, 0%) scale(0.6);
            transform: translate(0%, 0%) scale(0.6);
  }
}