$basic-black: #000000
$basic-dark: #363636
$basic-gray: #464646
$basic-half-gray: #7e7e7e
$basic-light-gray: #e5e5e5
$basic-white: #FFFFFF

$special-yellow: #F7E296
$special-yellow-dark: #f0c52e
$special-green: #91c92f

$status-pink: #f6dada

$transition-duration: .2s

$fgl: 'Gilroy', sans-serif
$fos: 'Open Sans', sans-serif


@mixin trans($property, $delay: 0s, $duration: $transition-duration)
    transition-property: $property
    transition-duration: $duration
    transition-timing-function: ease-out
    transition-delay: $delay

@font-face
    font-family: 'Gilroy'
    src: url('../../fonts/Gilroy-Light.woff2') format('woff2'), url('../../fonts/Gilroy-Light.woff') format('woff'), url('../../fonts/Gilroy-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Gilroy'
    src: url('../../fonts/Gilroy-Extrabold.woff2') format('woff2'), url('../../fonts/Gilroy-Extrabold.woff') format('woff'), url('../../fonts/Gilroy-Extrabold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face 
    font-family: 'Open Sans'
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Open Sans'
    src: url('../../fonts/OpenSans-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Poppins'
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Roboto'
    src: url('../../fonts/Roboto-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Roboto'
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

:root
    --container-horizontal-padding: 60px

*
    box-sizing: border-box

body
    padding: 0
    margin: 0
    background-color: $basic-white
    color: $basic-black

.container
    margin: 0 auto
    padding: 0 var(--container-horizontal-padding)
    max-width: 1160px

.h60-c30
    opacity: 1
    @include trans(opacity)
    &:hover
        opacity: .6
    &:active
        opacity: .3

.button-w-line
    position: relative
    z-index: 2
    display: inline-flex
    align-items: center
    justify-content: center
    font-family: $fgl
    font-size: 18px
    line-height: 22px
    text-transform: uppercase
    letter-spacing: .2em
    color: $basic-black
    text-decoration: none
    font-weight: 800
    padding: 0 43px
    background: 0
    border: 0
    @include trans(color)
    &::before
        content: ''
        display: inline-block
        position: absolute
        left: 0
        z-index: -1
        height: 8px
        width: 100%
        background-color: $special-yellow-dark
        @include trans((height, background-color, width), (0s, 0s, .2s))
    &:hover:before
        height: 40px
    &:active
        color: rgba(0, 0, 0, .3)
        &:before
            height: 40px

.header
    margin-top: 40px
    &-inner
        background: $special-yellow
        padding: 44px 60px 50px
    &-logo
        margin-top: -64px
        display: block
        margin-bottom: 29px
    &-top
        margin-bottom: 50px
        display: flex
        justify-content: space-between
        align-items: center
        gap: 20px
        position: relative
        z-index: 2
        &__form
            flex-grow: 1
            max-width: 440px
            display: flex
            input
                flex-grow: 1
                background: linear-gradient(to bottom, $basic-black 0%, $basic-black 100%) right bottom / 0px 2px no-repeat, url("../../img/icons/search.svg") left center no-repeat 
                border: 0
                padding: 16px 18px 14px 38px
                outline: none
                font-family: $fos
                font-size: 15px
                font-weight: 300
                @include trans(all, 0, .3s)
                &::placeholder
                    @include trans(opacity)
                    opacity: .3
                &:hover::placeholder
                    opacity: .6
                &:focus
                    background-size: 100% 2px, auto
                    & + button
                        opacity: 1
                        visibility: visible
                        transform: rotate(0)
                &:not(:placeholder-shown)
                    background-size: 100% 2px, auto
                    & + button
                        opacity: 1
                        visibility: visible
                        transform: rotate(0)
            button
                cursor: pointer
                outline: none
                padding: 15px 17px
                border: 2px solid $basic-black
                background: 0
                opacity: 0
                visibility: hidden
                text-transform: uppercase
                font-family: $fos
                font-size: 15px
                font-weight: 300
                transform: rotateY(90deg)
                transform-origin: left
                @include trans((transform, background-color, color, opacity, visibility))
                &:hover
                    background-color: $basic-black
                    color: $basic-white
                &:active
                    background-color: $basic-black
                    color: rgba(255, 255, 255, .3)    
        &__list
            display: flex
            justify-content: flex-end
            flex-grow: 1
            max-width: 500px
            a
                text-decoration: none
                color: $basic-black
                font-family: $fos
                font-size: 15px
                font-weight: 300
                &:not(:last-child)
                    margin-right: 40px
                &:first-child
                    margin-right: auto           
                img
                    vertical-align: middle
                    margin-right: 11px
    &-bottom
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 20px
        position: relative
        z-index: 2
        &__catalog
            margin-right: auto
            button
                background: 0
                border: 0
                font-family: $fgl
                font-size: 18px
                font-weight: 800
                line-height: 22px
                letter-spacing: .2em
                text-transform: uppercase
                display: flex
                align-items: center
                cursor: pointer
                &:hover
                    color: rgba(0, 0, 0, .6)
                &:active
                    color: rgba(0, 0, 0, .3)
                &.active
                    + ul
                        opacity: 1
                        visibility: visible
                        transform: translateY(0)
                    svg
                        transform: rotateZ(45deg)
                svg
                    transition: transform .2s ease-out
                    margin-left: 16px
                    pointer-events: none
            ul
                position: absolute
                list-style: none
                padding: 0
                margin: 0
                width: 100%
                background: $special-yellow
                box-sizing: content-box
                padding: 64px var(--container-horizontal-padding) 39px
                left: calc(-1 * var(--container-horizontal-padding))
                display: grid
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr
                gap: 20px
                opacity: 0
                visibility: hidden
                transform: translateY(-50px)
                z-index: -1
                @include trans((transform, opacity, visibility))
                a
                    color: $basic-black
                    text-decoration: none
                    font-size: 15px
                    font-family: $fos
                    font-weight: 300
                    line-height: 20px
        &__nav
            max-width: 500px
            flex-grow: 1
            display: flex
            a
                text-transform: uppercase
                font-family: $fgl
                font-size: 18px
                font-weight: 800
                letter-spacing: .2em
                line-height: 22px
                color: $basic-black
                text-decoration: none
                &:not(:first-child)
                    margin-left: 38px
                &:last-child
                    margin-left: auto
    &-line
        margin: 69px 400px 38px 0
        display: flex
        justify-content: flex-end
        &::before
            content: ''
            display: inline-block
            width: 100px
            height: 7px
            background-color: $basic-white
.popular
    margin-top: -47px
    counter-reset: slide
    &-inner
        overflow: visible
    &-swiper
        overflow: visible
    &-item
        display: flex
        align-items: center
        gap: 20px
        overflow: visible !important
        &:before
            counter-increment: slide
            content: '0'counter(slide)
            font-size: 179px
            font-family: $fgl
            font-weight: 800
            color: $basic-white
            line-height: 219px
            text-transform: uppercase
            position: absolute
            top: -110px
            right: 100px
            z-index: -1
            opacity: 0
            visibility: hidden
            @include trans((opacity, visibility, right))
        &-active:before
            right: 0
            opacity: 1
            visibility: visible
            @include trans((opacity, visibility, right), .9s)
        &-active
            opacity: 1
            visibility: visible
        &-active &__title strong
            transform: translateY(0)
            @include trans(transform, .2s)
        &-active &__img img
            opacity: 1
            visibility: visible
            transform: translate(0, 0)
        &-active &__description p
            opacity: 1
            visibility: visible
            transform: translateY(0)
            @include trans(transform, .4s)
        &-active &__btns
            opacity: 1
            visibility: visible
        &-active &__list
            visibility: visible
            opacity: 1
            transform: translateY(0)
            @include trans((opacity, transform, visibility), .6s)
        &__img
            flex-grow: 1
            max-width: 500px
            display: flex
            justify-content: center
            align-items: center
            height: 200px
            img
                opacity: 0
                visibility: hidden
                transform: translate(-100%, -20%)
                @include trans((opacity, visibility, transform), .2s, (.2s, .2s, .2s))
        &__info
            max-width: 500px
            width: 100%
        &__title
            font-family: $fgl
            font-weight: 800
            font-size: 47px
            line-height: 58px
            max-width: 495px
            overflow: hidden
            strong
                @include trans(transform)
                transform: translateY(-100%)
                display: inline-block
        &__description
            font-family: $fos
            font-weight: 300
            font-size: 15px
            line-height: 20px
            margin: 30px 0 60px
            max-width: 472px
            overflow: hidden
            p
                margin: 0
                @include trans(transform)
                transform: translateY(-100%)
        &__btns
            display: flex
            justify-content: space-between
            align-items: center
            opacity: 0
            visibility: hidden
        &__pagination
            position: static
            display: flex
            align-items: center
            width: auto !important
            .swiper-pagination-bullet
                display: inline-flex
                align-items: center
                justify-content: center
                width: 12px
                height: 12px
                border: 1px solid $basic-black
                background: 0
                opacity: 1
                margin: 0 !important
                & + .swiper-pagination-bullet
                    margin-left: 18px !important
                &:before
                    content: ''
                    display: inline-block
                    width: 4px
                    height: 4px
                    border: 1px solid $basic-black
                    border-radius: 50%
                    box-sizing: border-box
                    opacity: 0
                &-active:before
                    opacity: 1
        &__list
            display: flex
            gap: 25px
            list-style: none
            padding: 0
            margin: 60px 0 0
            opacity: 0
            visibility: hidden
            transform: translateY(-50%)
            @include trans((opacity, visibility, transform))
            li
                font-family: $fgl
                font-size: 13px
                font-weight: 300
                letter-spacing: .1em
                line-height: 15px
            span
                font-size: 36px
                display: block
                margin-bottom: 15px
                line-height: 42px
.categories
    margin-top: 116px
    &-inner
        padding: 0
        display: flex
        flex-wrap: wrap
        gap: 40px
    &-item
        flex: 1 0 150px
        max-width: 200px
        text-decoration: none
        &__img
            height: 160px
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 38px
            background-color: $special-yellow
            @include trans(background-color)
            img
                max-width: 100%
                max-height: 100%
                pointer-events: none
                @include trans(opacity)
        &__title
            color: $basic-black
            font-size: 18px
            font-family: $fgl
            font-weight: 800
            letter-spacing: .05em
            line-height: 22px
            @include trans(opacity)
        &:hover &__img
            background-color: $special-yellow-dark
        &:active &__img
            background-color: $special-yellow-dark
            img
                opacity: .3
        &:active &__title
            opacity: .3
.services
    margin-top: 184px
    padding-bottom: 68px
    background-color: $basic-light-gray
    .container
        padding: 0
    &-inner
        margin-top: -100px
        display: inline-flex
        align-items: flex-start
        padding: 0
        position: relative
        z-index: 2
        width: 100%
    &-buttons
        border-right: 7px solid $basic-black
        display: flex
        flex-direction: column
        --padding-right: 117px
        padding: 89px var(--padding-right) 86px 0
        &__item
            background: 0
            border: 0
            outline: 0
            padding: 0 24px
            margin: 0
            &.active
                color: $special-yellow
                &:before
                    background-color: $basic-black
                    height: 40px
                    width: calc(100% + var(--padding-right) + 1px)
            & + &
                margin-top: 40px
    &-tabs
        padding-top: 60px
        position: relative
        flex-grow: 1
    &-tab
        padding-left: 116px
        width: 100%
        position: absolute
        &__content
            max-width: 540px
        &__title
            margin: 0 0 40px
            overflow: hidden
            h2
                line-height: 58px
                letter-spacing: .2em
                font-family: $fgl
                font-weight: 800
                font-size: 47px
                margin: 0
                transform: translateX(-100%)
                text-transform: capitalize
                @include trans(transform)
        &__description
            overflow: hidden
            p
                transform: translateX(-100%)
                font-family: $fos
                font-weight: 300
                font-size: 15px
                line-height: 30px
                letter-spacing: .08em
                margin: 0
                @include trans(transform)
        &__img
            position: absolute
            z-index: -1
            right: 0
            top: -23px
            transform: translateY(50px)
            opacity: 0
            visibility: hidden
            @include trans((transform, opacity, visibility))
        &.active &__title h2
            transform: translateX(0)
            @include trans(transform, .2s)
        &.active &__description p
            transform: translateX(0)
            @include trans(transform, .4s)
        &.active &__img
            transform: translateY(0)
            opacity: 1
            visibility: visible
            @include trans((transform, opacity, visibility), .35s)
.companies
    margin: 90px 0
    &-inner
        padding: 0
    &-slider
        &__item
            width: auto
            img
                filter: saturate(2) grayscale(1)
                @include trans(filter)
            &:hover img
                filter: saturate(2)
                @include trans(filter)

